aside {
    width: 25%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid grey;
    margin-top: 20px;
}

aside h2 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.aside__sort-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid black;
    margin: 0 auto;
    padding-bottom: 10px;
}

.aside__sort-container h3 {
    width: 50%;
}

.button-sort {
    height: 25px;
    width: 60px;
    border: 2px rgb(2, 117, 216) solid;
    border-radius: 15px;
    background-color: #fff;
    padding: 0 1px;
}

.button-sort__circle {
    background-color: rgb(2, 117, 216);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    float: left;
}

.button-sort__circle.active {
    float: right;
}

.aside__count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-count {
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(38, 145, 238);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.total-expenses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-expenses p {
    margin-right: 5px;
}